<header id="header-container" [ngClass]="{'fixed fullwidth dashboard': fixedMenu}">

  <div id="header" [ngClass]="{'transparent-header': transparentHeader, 'solid-header': !transparentHeader}">
    <div class="container">

      <div class="left-side">

        <div id="logo">
          <a [routerLink]="['/']">
            <img src="assets/images/logo.png" />
          </a>
        </div>

        <div class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>

        <div class="clearfix"></div>
      </div>

      <div class="right-side">
        <div class="header-widget">      
          <nav id="navigation" class="style-1">
            <ul id="responsive">
              
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</header>
