<top-menu fixedMenu="true"></top-menu>
<div id="dashboard">

  <a href="#" class="dashboard-responsive-nav-trigger">
    <i class="fa fa-reorder"></i> Dashboard Navigation</a>

  <div class="dashboard-nav">
    <div class="dashboard-nav-inner">

      <ul data-submenu-title="Main">
        <li>
          <a href="">
            <!-- LINK TO THE CORRECT URL/COMPONENT -->
            <i class="im im-icon-User"></i> Users</a>
        </li>
        <li>
          <a href="">
            <!-- LINK TO THE CORRECT URL/COMPONENT -->
            <i class="im im-icon-User"></i> Boats</a>
        </li>
        <li>
          <a href="">
            <!-- LINK TO THE CORRECT URL/COMPONENT -->
            <i class="im im-icon-User"></i> Orders</a>
        </li>
        <li>
          <a href="">
            <!-- LINK TO THE CORRECT URL/COMPONENT -->
            <i class="im im-icon-User"></i> Text Pages</a>
        </li>
        <li>
          <a href="">
            <!-- LINK TO THE CORRECT URL/COMPONENT -->
            <i class="im im-icon-User"></i> Blog</a>
        </li>


      </ul>
    </div>
  </div>

  <div class="dashboard-content">
    <div class="row">

      <!-- COMPONENTS NEED TO BE HERE -->
      <!-- THIS COMPONENT IS DUMMY -->
      <dummy-component></dummy-component>
      <!-- THIS COMPONENT IS DUMMY -->


    </div>

    <div class="row">
      <div class="col-md-12">

      </div>
    </div>

  </div>
</div>