 <spinner *ngIf="isLoading"></spinner> <!--SET isLoading to TRUE TO ENABLE A GIF WHEN PERFORMING A LONG TASK -->

<div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
        <h4 class="gray">Basic Form</h4>
        <div class="dashboard-list-box-static">


            <div class="basic-details">
                <div class="row">

                        <div class="col-md-6">
                            <label for="firstName">First Name
                                <input class="input-text" type="text" name="firstName"/>                               
                            </label>
                        </div>

                        <div class="col-md-6">
                                <label for="lastName">Last Name
                                    <input class="input-text" type="text" name="lastName"/>                               
                                </label>
                            </div>


                        <div class="col-md-12">
                            <input type="submit" class="button border margin-top-10" name="Save" />

                        </div>


                </div>
            </div>
        </div>
    </div>
</div>